<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <div>
    <label for="name">Nombre</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="description">Descripción</label>
    <input type="text" id="description" formControlName="description">
  </div>
  <div>
    <label for="price">Precio</label>
    <input type="number" id="price" formControlName="price">
  </div>
  <div>
    <label for="units">Unidades</label>
    <input type="number" id="units" formControlName="units">
  </div>
  <button type="submit">Enviar</button>
</form>
<div></div>
<div *ngIf="datos">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of datos">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.units }}</td>
      <button class="btn-outline-danger" (click)="onClickDelete(product)">Borrar</button>
    </tr>
  </tbody>
</table>
</div>